body {
  background: #28527A;
}



/*-------- add grid ------------------------------------------------*/

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: main1b;
}

.item3 {
  grid-area: main1c;
}

.item4 {
  grid-area: main2d;
}

.item5 {
  grid-area: main2e;
}

.item6 {
  grid-area: main3f;
}

.item7 {
  grid-area: main3g;
}

.item8 {
  grid-area: footer;
}



.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'main1b main1b main1c'
    'main2d main2e main2e'
    'main3f main3f main3g'
    'footer footer footer';

  grid-gap: 20px;
  background-color: #8AC4D0;
  padding: 10px;
}

.grid-container > div {
  background-color: #FBEEAC;
  text-align: center;
  font-size: 25px; 
  padding: 30px 0;
  
}

/*--------------------------------------------------------------*/

/*-------------------------- Add navBar header------------------*/





.imgTopNav {
  /* Imagen attributes */
  background-image: url("https://www.pexels.com/photo/low-angle-photography-of-high-rise-building-5506919/");
  background-color: #FBEEAC; /* Used if the image is unavailable */
  min-height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative; 
}

/* Position the navbar container inside the image */
.container {
  position: absolute; 
  margin: 20px;
  top: 5px;
  right: 16px;
  width: auto;
}

.topnav a:hover {
  background-color: #8AC4D0;
  
}


/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #FBEEAC;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #28527A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}



/*--------------------------------------------------------------*/