body {
  background: #28527A;
}



/*-------- add grid ------------------------------------------------*/

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: main1b;
}

.item3 {
  grid-area: main1c;
}

.item4 {
  grid-area: main2d;
}

.item5 {
  grid-area: main2e;
}

.item6 {
  grid-area: main3f;
}

.item7 {
  grid-area: main3g;
}

.item8 {
  grid-area: footer;
}



.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'main1b main1b main1c'
    'main2d main2e main2e'
    'main3f main3f main3g'
    'footer footer footer';

  grid-gap: 20px;
  background-color: #8AC4D0;
  padding: 10px;
}

.grid-container > div {
  background-color: #FBEEAC;
  text-align: center;
  font-size: 25px; 
  padding: 30px 0;
  
}



/*-------------------------- Add navBar header------------------*/





.imgTopNav {
  /* Imagen attributes */
  background-image: url("https://www.pexels.com/photo/low-angle-photography-of-high-rise-building-5506919/");
  background-color: #FBEEAC; /* Used if the image is unavailable */
  min-height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative; 
}

/* Position the navbar container inside the image */
.container {
  position: absolute; 
  margin: 20px;
  top: 5px;
  right: 16px;
  width: auto;
}

.topnav a:hover {
  background-color: #8AC4D0;
  
}


/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #FBEEAC;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #28527A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}



/*---------------------- Add Flexbox footer----------------------------------*/

.box {
        display: flex;
        
        
      }

      .h1 {
        flex: 1 1 auto;
      }

      .h2 {
        flex: 1 1 auto;
        
        
      }

      .h3 {
        flex: 1 1 auto;
      }

/*---------------------- Add social icons footer----------------------------------*/ 

/* Style all font awesome icons */



.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
  margin-bottom: 20px;
  


}


/* Set a specific color for each brand */


.fa-google {
  background: #dd4b39;
  color: white;
  
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* ------------------------Add skills bar set--------------------------------------------------------------*/

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.containerSkills {
  width: 80%; /* Full width */
  background-color: #8AC4D0; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */

}

.html {width: 70%; background-color: #28527A;} 
.css {width: 60%; background-color: #28527A;}
.js {width: 40%; background-color: #28527A;}
.photoshop {width: 50%; background-color: #28527A;} 